.title{
    padding: 1em; 
}
.description{
    margin-bottom: 1em;
    padding: 1em;
}

.submit{
    padding: 1em;
}

.card{
    margin-top: 1em;
    padding: .3em;
    width: 50%;
    display: inline-block;
    background: #424242;
    text-align: center;
    animation: fade 1s ease;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}