.main{
    margin: 1em;
    display: grid;
    grid-template-columns: 20vw auto;
}

.footerInfo{
    width: 100%;
    grid-column-start: 2;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .main{
        display: grid;
        grid-template-columns: auto;
    }
    .footerInfo{
        width: 100%;
        grid-column-start: 1;
        text-align: center;
    }

}