.title{
    font-size: 72px;
    color: #fafafa;
    margin: .3em;
}

.dayOfWeek{
    font-size: 3em;
    color: #fafafa;
}

.date{
    font-size: 2em;
    color: #fafafa;
}


.card{
    margin-top: 1em;
    padding: .3em;
    width: 70%;
    display: inline-block;
    background: #424242;
    text-align: left;
}