.title {
    font-Size: 72px;
    text-align: left;
    color: #eceff1;
    animation: fade 2s ease;
}

.notCompleted{
    background-Color: #f44336;
    width: 2em;
    height: 1em;
    color: #f44336;
    outline: none;
    border: none;
}

.completed{
    background-Color: #43a047;
    width: 2em;
    height: 1em;
    color: #43a047;
    outline: none;
    border: none;
}

.description {
    color: #bdbdbd;
    font-Size: 20px;
    padding-Top: 1em;
    padding-Left: .3em;
    animation: fade 3s ease;
}

.card{
    margin-top: 1em;
    padding: .3em;
    width: 50%;
    display: inline-block;
    background: #424242;
    text-align: left;
    animation: fade 1s ease;
}

.main{
    display: grid;
    grid-template-columns: 0vw auto;
}

.habit{
    width: 100%;
    grid-column-start: 2;
    text-align: center;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}