.title{
    font-size: 72px;
    color: #fafafa;
    margin: .3em;
    animation: fade 1s ease;
}

.dayOfWeek{
    font-size: 3em;
    color: #fafafa;
    animation: fade 1s ease;
}

.date{
    font-size: 2em;
    color: #fafafa;
    animation: fade 1s ease;
}

.card{
    margin-top: 1em;
    padding: .3em;
    width: 50%;
    display: inline-block;
    background: #424242;
    text-align: left;
    animation: fade 1s ease;
}

.habitTitle{
    font-Size: 36px;
    text-Align: left;
    color: #eceff1;
    cursor: pointer;
    animation: fade 2s ease;
}

.description{
    color: #bdbdbd;
    font-Size: 24px;
    padding-Top: .4em;
    animation: fade 3s ease;
}

.delete{
    text-align: right;
    padding: 0;
    color: #212121;
    cursor: pointer;
}

.app{
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #757575;
    height: 100vh;
    width: 20vw;
    position: fixed;
}

.sidebarDate{
    background-color: #616161;
    padding-top: 7vh;
    padding-bottom: 10vh;
    text-align: center;
}

.sidebarTitle{
    font-size: 2em;
    padding: 1em;
    text-align: center;
    color: #fafafa;
}

.sidebarStats{
    display: flex;
}

.sidebarTotal{
    text-align: center;
    flex: 1;
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 500;
}

.main{
    display: grid;
    grid-template-columns: 20vw auto;
}

.habits{
    width: 100%;
    grid-column-start: 2;
    text-align: center;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

@media screen and (max-width: 1024px){
    .card{
        margin-top: 1em;
        padding: .3em;
        width: 70%;
        display: inline-block;
        background: #424242;
        text-align: left;
        animation: fade 1s ease;
    }
    .sidebar{
        display: none;
    }
    .habits{
        flex: 1;
    }

    .app{
        width: 100%;
    }

}