.notCompleted{
    background-Color: #f44336;
    width: 2em;
    height: 1em;
    color: #f44336;
    outline: none;
    border: none;
    animation: fade 1s ease;
}

.completed{
    background-Color: #43a047;
    width: 2em;
    height: 1em;
    color: #f44336;
    outline: none;
    border: none;
    animation: fade 1s ease;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}